*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0px 10px;
    background-image: url('../img/bg-body.png');
}

.form {
    display: flex;
    max-width: 600px;
    margin: 20px, 10px;
    padding: 5px;
}

.input {
    padding: 10px 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 15px; 
    width: 80%;
}
.buscar {
    color: darkslategrey;
    padding: 10px 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 15px;
}
.navegador {
    display: flex; 
    justify-content: space-around;
    padding: 10px 0; 
    list-style: none; 
    margin: 0;
}

.navegador .nav {
    text-decoration: none; 
    color: black;
    font-weight: bold; 
    font-size: 20px;
    padding: 10px 20px; 
}

.logo{
    display: flex;
    justify-self: center;
}
.Recetas{
    display: flex;
    flex-wrap: wrap;
}
.pie{
    display: flex;
    justify-content: right;
    font-size: smaller;
}
.invalid{
    background-color: blue;
}

@media (max-width: 600) {
    header, footer {
        text-align: center;
    }

    .navigation ul {
        flex-direction: column;
        gap: 10px;
    }

    .receta-card {
        width: 100%;
    }
}
.recetas-apis {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }
.carta {
        background: white;
        border: 1px solid white;
        width: 250px;
        text-align: center;
        margin: 15px;
    }

    
.carta img {
        width: 100%;
        height: 150px;
    }

.carta h2 {
    font-size: 20px;
    margin: 15px 0;
    color: black;
}

.carta p {
    font-size: 13px;
    margin: 10px 0;
    color: gray;
    background: whitesmoke;
    padding: 5px;
}
.masRecetas{
    display: none;
}
.conteiner{
    display: flex;
    flex-wrap: wrap; 
}
.conteiner h2{
    width: 100%;
    text-align: center;
}
.categorias{
    display: flex;
    flex-wrap: wrap;
}
.categorias-cartas{
    display: flex;
    flex-wrap: wrap;
}

